* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #131313;
    color: #FFFFFF;
}

.top {
    margin: 3%;
    display: flex;
    justify-content: space-between;
}

.top__header {
    display: flex;
    justify-content: space-evenly;
}

.top__logo {
    margin: 0 3%;
    display: flex;
    font-size: 36px;
    align-items: center;
}

.top__menu {
    display: flex;
    margin: 0 6%;
    font-size: 25px;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.top__menu__item {
    margin: 0 25%;
}

.buttons {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.buttons__icons {
    margin: 0 5%;
}

.content {
    margin: 5% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__elements {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content__title {
    font-size: 60px;
}

.content__paragraph {
    font-size: 25px;
}

.content__stats {
    display: flex;
    margin-right: 20%;
    margin-top: 23%;
    justify-content: left;
}

.discover__link {
    font-size: 26px;
}

.discover__layout {
    display: flex;
}